html, body{
    height: 100%;
    background-color: #272A33;
}

.artist{
    height: 100%;
    color: white;
    text-align: center;
}

#rightArtist{
    border-left: 5px solid #ffffff;
}

#leftArtist{
    border-right: 5px solid #ffffff;
}

.artist1{
    margin-bottom: 4px;
    cursor: pointer;
    border-top-right-radius: 6px;
    background-color: #58595E;
    color: white;
}

.artist2{
    cursor: pointer;
    border-bottom-right-radius: 6px;
    background-color: #58595E;
    color: white;
}

.header{
    padding-top: 10%;
    text-align: center;
    font-size: 6vh;
}

.matchup .artist:first-child{
    background-color: #960101;
}

.matchup .artist:last-child{
    background-color: #3D963B;
}

.image{
    text-align: center;
    padding-top: 10%;
}
.image img{
    height: 20vw;
    border: 2px solid white;
    box-shadow: 2px;
}

#winnerModal .image {
    padding-top: 0;
}

.modal-lg{
    min-width: 90vw;
}

.btn-winner{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 2rem;
}

.btn-winner:hover{
    color: black;
    background-color: gold;
}

.game img{
    height: 42px;
}

.game .name{
    font-size: 16pt;
    text-shadow: 1px 1px #999;
    padding-left: 10px;
}

.game .seed{
    font-size: 16pt;
    min-width: 36px;
    display: inline-block;
    text-align: center;
    background-color: #999;
    color: #333;
}

.game .artist1 .seed{
    border-top-left-radius: 6px;
}
.game .artist2 .seed{
    border-bottom-left-radius: 6px;
}

.game img{
    min-width: 36px;
}

.game{
    padding-left: 6px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.game > div {
    display: table-cell;
}

.game .artists{
    width: 300px;
    padding-left: 10px;
    vertical-align: top;
}


.bracket{
    color: white;
    display: inline-block;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.round{
    display: inline-block;
    position: absolute;
}

.second-round{
    left: 305px;
}

.second-round .game{
    height: 162px;
    padding-top: 44px;
}
.second-round .bracket{
    height: 86px;
    width: 6px;
}
.second-round .artists{
    padding-top: 10px;
}

.third-round{
    left: 620px;
    top: 78px;
}

.third-round .game{
    margin-bottom: 158px;
}

.third-round .bracket{
    height: 170px;
    width: 6px;
}
.third-round .artists{
    padding-top: 52px;
}

.fourth-round{
    left: 934px;
    top: 162px;
}

.fourth-round .game{
    margin-bottom: 324px;
}
.fourth-round .bracket{
    height: 348px;
    width: 6px;
}
.fourth-round .artists{
    padding-top: 136px;
}

.final-round{
    left: 1246px;
    top: 330px;
}

.final-round .bracket{
    height: 690px;
    width: 6px;
}
.final-round .artists{
    padding-top: 314px;
}

#location{
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    z-index: 9;
    box-shadow: 2px 2px #ffffff;
    font-size: 17pt;
    transform: translate(-50%, -50%);
    text-align: center;
}

#location img{
    width: 120px;
}

#winnerModal h1{
    animation:blinkingText 1.0s infinite;
    font-size: 60pt;
}
@keyframes blinkingText{
    0%{     color: #FFF;    }
    49%{    color: #FFF; }
    50%{    color: transparent; }
    99%{    color:#FFF;  }
    100%{   color: #FFF;    }
}