html, body{
    height: 100%;
}

.artist{
    height: 100%;
    color: white;
    text-align: center;
}

.artist1{
    margin-bottom: 4px;
}

.header{
    padding-top: 10%;
    text-align: center;
    font-size: 7vh;
}

.matchup .artist:first-child{
    background-color: #960101;
}

.matchup .artist:last-child{
    background-color: #3D963B;
}

.image{
    text-align: center;
    padding-top: 10%;
}
.image img{
    height: 20vw;
    border: 2px solid white;
    box-shadow: 2px;
}

.modal-lg{
    min-width: 90vw;
}

.btn-winner{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 2rem;
}

.btn-winner:hover{
    color: black;
    background-color: gold;
}

.game img{
    height: 42px;
}

.game .name{
    font-size: 20pt;
}

.game .seed{
    font-size: 20pt;
    min-width: 36px;
    display: inline-block;
    text-align: center;
    background-color: darkblue;
    color: white;
    border-radius: 20px;
}

.game img{
    min-width: 36px;
}

.game{
    min-height: 100px;
    width: 345px;
    padding-left: 6px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.game > div{
    background-color: lightgray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.round{
    display: inline-block;
    position: absolute;
}

.second-round{
    left: 350px;
    top: 56px;
}

.second-round .game{
    margin-bottom: 120px;
}

.third-round{
    left: 700px;
    top: 170px;
}

.third-round .game{
    margin-bottom: 338px;
}

.fourth-round{
    left: 1050px;
    top: 390px;
}

.fourth-round .game{
    margin-bottom: 770px;
}

.final-round{
    left: 1050px;
}

