html, body{
    height: 100%;
    background-color: #272A33;
}

.artist{
    color: white;
    text-align: center;
}

#rightArtist{
    border-left: 5px solid #ffffff;
}

#leftArtist{
    border-right: 5px solid #ffffff;
}

.artist1{
    margin-bottom: 4px;
    cursor: pointer;
    border-top-right-radius: 6px;
    background-color: #58595E;
    color: white;
}

.artist2{
    cursor: pointer;
    border-bottom-right-radius: 6px;
    background-color: #58595E;
    color: white;
}

.header{
    padding-top: 10%;
    text-align: center;
    font-size: 3vw;
}

.matchup .artist:first-child{
    background-color: #960101;
}

.matchup .artist:last-child{
    background-color: #3D963B;
}

.image{
    text-align: center;
    padding-top: 10%;
}
.image img{
    height: 20vw;
    border: 2px solid white;
    box-shadow: 2px;
}

#winnerModal .image {
    padding-top: 0;
}

.modal-lg{
    min-width: 90vw;
}
.modal-md{
    min-width: 50vw;
}

.btn-winner{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 2rem;
}

.btn-winner:hover{
    color: black;
    background-color: gold;
}

.game img{
    height: 42px;
}

.game .name{
    font-size: .90vw;
    text-shadow: 1px 1px #999;
    padding-left: 0px;
}

.game .seed{
    font-size: 16pt;
    min-width: 36px;
    display: inline-block;
    text-align: center;
    background-color: #999;
    color: #333;
}

.game .artist1 .seed{
    border-top-left-radius: 6px;
}
.game .artist2 .seed{
    border-bottom-left-radius: 6px;
}

.game img{
    min-width: 36px;
}

.game{
    padding-left: 6px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.game > div {
    display: table-cell;
}

.game .artists{
    width: 300px;
    padding-left: 10px;
    vertical-align: top;
}


.bracket{
    color: white;
    display: inline-block;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.round{
    display: inline-block;
    position: absolute;
} 

.round-1 .bracket{
    display: none;
}

.round-2{
    left: 305px;
}

.round-2 .game{
    height: 166px;
    padding-top: 45px;
}
.round-2 .bracket{
    height: 86px;
    width: 6px;
}
.round-2 .artists{
    padding-top: 10px;
}

.round-3{
    left: 620px;
    top: 78px;
}

.round-3 .game{
    margin-bottom: 160px;
}

.round-3 .bracket{
    height: 170px;
    width: 6px;
}
.round-3 .artists{
    padding-top: 52px;
}

.round-4{
    left: 934px;
    top: 162px;
}

.round-4 .game{
    margin-bottom: 324px;
}
.round-4 .bracket{
    height: 348px;
    width: 6px;
}
.round-4 .artists{
    padding-top: 136px;
}

.round-5{
    left: 1246px;
    top: 330px;
}

.round-5 .bracket{
    height: 690px;
    width: 6px;
}
.round-5 .artists{
    padding-top: 314px;
}

#location{
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    z-index: 9;
    box-shadow: 2px 2px #ffffff;
    font-size: 17pt;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 1s ease;
}

#location.expand{
    min-width: 400px;
    min-height: 400px;
}

#location img{
    width: 120px;
}

#winnerModal .modal-lg{
    min-width: 70vw;
}

#winnerModal .header{
    padding-top: 2%;
    text-align: center;
    font-size: 10vh;
}

#winnerModal h1{
    animation:blinkingText 1.0s infinite;
    font-size: 60pt;
}

@keyframes blinkingText{
    0%{     color: #FFF;    }
    49%{    color: #FFF; }
    50%{    color: transparent; }
    99%{    color:#FFF;  }
    100%{   color: #FFF;    }
}

.btn.btn-delete{
    float: right;
    width: 6px;
    background-color: #780000;
    height: 100%;
    padding: 0;
    height: 32px;
    font-size: 14pt;
    transition: all 0.5s ease;
}

.btn.btn-delete.show{
    width: 32px;
    color: white;
    line-height: 1.6;
}

.btn.btn-delete.show::after{
    content: 'X';
}

.round-1 .btn-delete{
    display: none;
}

@media (max-width: 576px){.modal-dialog.modal-dialog-slideout {width: 80%}}
.modal-dialog-slideout {min-height: 100%; margin: 0 auto 0 0 ;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(-100%,0);transform: translate(-100%,0);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);flex-flow: column;}
.modal-dialog-slideout .modal-content{border: 0;}